<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hiberus_tab" translate="label" sortOrder="1">
            <label>HIBERUS</label>
        </tab>
        <section id="hiberus_soto" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sample Configuration</label>
            <tab>hiberus_tab</tab>
            <resource>Hiberus_Soto::config</resource>
            <group id="general_config" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Config Label</label>
                <hide_in_single_store_mode>1</hide_in_single_store_mode>
                <field id="elementos" translate="label" type="text" sortOrder="1"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Elementos</label>
                </field>
                <field id="notacorte" translate="label" type="text" sortOrder="2"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Nota de corte</label>
                </field>
            </group>
        </section>
    </system>
</config>